/*EN LA SECCION DE CURSOS POR TERMINAR 
PONER UN CALENDARIO CON LOS INPUT E AGREGARLES LOS VALUES CON  LAS FECHAS EN QUE ACABAMOS CADA CURSO
ESTO IRA EN LA EN UNA PAGINA EXTERNA CUANDO SE REDIRRECCIONE CON EL BOTON DE MAS INFORMACION*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow Condensed', sans-serif;
    /* font-family: 'gobold_bolditalic';*/
}

html {
    font-size: 62.5%;
}

.header {
    background-color: #141e25;
}

main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.brawser {
    width: 100rem;
    height: inherit;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.brawser-two {
    width: 120rem;
    height: inherit;
    margin: 0 auto;
    margin-top: 3rem;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.principal-title {
    color: white;
    height: 10rem;
    box-sizing: border-box;
}

.principal-title h1 {
    font-weight: bold;
    letter-spacing: -0.2rem;
    margin: 0;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 5rem;
    text-transform: uppercase;
}

.principal-title .title {
    color: #2E9AFE;
}

.principal-title strong {
    color: #DF0101;
}

.nav-principal {
    height: 7rem;
    color: white;
    background-color: #1c2831;
    display: flex;
    align-items: center;
}

.nav-principal ul {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
}

.nav-principal a {
    padding: 0 2rem;
    margin: 0 3rem;
}

.items-menu {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


/*Informacion personal*/

.personal-information {
    color: white;
    flex-shrink: 0;
    background-color: #232E3A;
    width: 100%;
    height: 30rem;
    box-sizing: border-box;
}

.personalI-title {
    text-align: center;
    width: 40rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem auto;
    border-bottom: 0.1rem solid white;
}

.personalI-description {
    font-size: 1.6rem;
}


/*SOCIAL DISPLAY*/

.socialV {
    flex-shrink: 0;
    background-color: #141e25;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 8rem;
    position: absolute;
    /*cambiarlos*/
    height: 300%;
}

.social-link {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-size: 5rem 5rem;
    margin: 0 1rem;
}

.social-linkV {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-size: 5rem 5rem;
    margin: 1rem 0;
}

.social-link.facebook {
    background-image: url('../Svg-Images/facebook.svg');
}

.social-link.instagram {
    background-image: url('../Svg-Images/instagram.svg');
}

.social-link.github {
    background-image: url('../Svg-Images/github.svg');
}

.social-link.youtube {
    background-image: url('../Svg-Images/youtube.svg');
}

.social-linkV.facebook {
    margin-top: 100px;
    background-image: url('../Svg-Images/facebook.svg');
}

.social-linkV.instagram {
    background-image: url('../Svg-Images/instagram.svg');
}

.social-linkV.github {
    background-image: url('../Svg-Images/github.svg');
}

.social-linkV.youtube {
    background-image: url('../Svg-Images/youtube.svg');
}

.socialH {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #141e25;
    height: 8rem;
}


/*Portafolio*/


/*PONERLE LIMITES: cuando le ponga todo lo relacionado a RESPONSIVE*/

.portfolio {
    width: 100%;
    /*
    AUN NO
    min-width: 100rem;*/
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-portfolio {
    flex-shrink: 0;
    border-bottom: 2px solid gray;
    width: 20rem;
    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;
    text-transform: uppercase;
}


/*Modificarlas apenas ponga el contenido de estos articulos*/

.article-title {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem;
}

figure {
    margin: 0;
}

.objective {
    flex-shrink: 0;
    width: 40rem;
    height: 54rem;
    background-color: #DBEBF7;
    border-radius: 1rem;
}

.objective-block {
    border-radius: 0.5rem;
    margin-top: -0.1rem;
    margin: auto;
    width: 35rem;
    position: relative;
    background-color: white;
}

.objective-description {
    font-size: 1.6rem;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1.5rem;
}

.objective-imageBlock {
    width: 40rem;
    height: 20rem;
}

.objective-image {
    width: 40rem;
    height: 26.5rem;
    border-radius: 0.5rem;
}

.Cursos {
    flex-shrink: 0;
    width: 40rem;
    height: 54rem;
    background-color: #DBEBF7;
    border-radius: 1rem;
    box-sizing: border-box;
}

.cursos-block {
    border-radius: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: -4rem;
    width: 35rem;
    position: relative;
    background-color: white;
    box-sizing: border-box;
}

.cursos-description {
    margin-top: 0;
    padding: 1rem;
    font-size: 1.6rem;
    height: 22.6rem;
    /*Para que me muestre el scroll*/
    overflow: auto;
}

.cursos-imageBlock {
    height: 24rem;
}

.cursos-image {
    width: 40rem;
    border-radius: 0.5rem;
}

.strongCursos {
    font-weight: bold;
    color: #F02030;
    text-decoration: none;
}

.Web_development {
    flex-shrink: 0;
    margin-top: 2.5rem;
    margin-left: 0.1rem;
    width: 40rem;
    height: 54rem;
    background-color: #DBEBF7;
    border-radius: 1rem;
}

.Web_development-block {
    border-radius: 0.5rem;
    margin: auto;
    margin-top: -6rem;
    margin-bottom: 2rem;
    width: 35rem;
    position: relative;
    background-color: white;
}

.Web_development-description {
    margin: 0;
    padding: 1rem;
    font-size: 1.6rem;
}

.Web_development-imageBlock {
    height: 26.5rem;
}

.Web_development-image {
    width: 40rem;
    border-radius: 0.5rem;
}

.js {
    flex-shrink: 0;
    margin-top: 2.5rem;
    width: 40rem;
    height: 54rem;
    border-radius: 1rem;
    background-color: #DBEBF7;
}

.js-block {
    border-radius: 0.5rem;
    margin: auto;
    margin-top: -6rem;
    margin-bottom: 2rem;
    width: 35rem;
    position: relative;
    background-color: white;
}

.js-description {
    margin: 0;
    padding: 1rem;
    font-size: 1.6rem;
}

.js-imageBlock {
    height: 26.5rem;
}

.js-image {
    width: 40rem;
    height: 26.5rem;
    border-radius: 0.5rem;
}

.schoolEnglish {
    flex-shrink: 0;
    height: 25rem;
    width: 75rem;
    border: 0.1rem solid blue;
    margin: 2.5rem 0;
}

.title-contact {
    border-bottom: 0.2rem solid gray;
    width: 20rem;
    text-align: center;
    font-size: 3rem;
    /*con esto fue que movi todo al centro*/
    margin: 2rem auto;
    text-transform: uppercase;
}

.contact {
    width: 100%;
    /*Ponerle min and max width y el height*/
    height: 20rem;
    margin-bottom: 2rem;
    flex-shrink: 0;
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
}

.contact-form {
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-input {
    margin: 1rem 0;
    flex-shrink: 0;
}

.contact-title {
    margin: 1rem 0;
    flex-shrink: 0;
}

.contact-button {
    margin: 1rem 0;
    flex-shrink: 0;
}


/*Modificarlas apenas ponga el contenido de estos articulos*/

.aRedirect {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    background: #00439d;
    text-decoration: none;
    color: white;
    margin-left: 11.5rem;
}

.contact-input {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}


/*Aun no funciona*/

.contact-input:focus {
    border-bottom-color: blue;
}

.footer {
    background-color: #1c2831;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.footer p {
    margin: 0;
}

.division {
    background-color: #141e25;
    height: 10rem;
    width: 100%;
}

.url-platzi {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: red;
}