/*EN LA SECCION DE CURSOS POR TERMINAR 
PONER UN CALENDARIO CON LOS INPUT E AGREGARLES LOS VALUES CON  LAS FECHAS EN QUE ACABAMOS CADA CURSO
ESTO IRA EN LA EN UNA PAGINA EXTERNA CUANDO SE REDIRRECCIONE CON EL BOTON DE MAS INFORMACION*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow Condensed', sans-serif;
    /* font-family: 'gobold_bolditalic';*/
}

.header {
    background-color: #141e25;
}

main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.brawser {
    width: 1000px;
    height: inherit;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.principal-title {
    color: white;
    height: 100px;
    box-sizing: border-box;
}

.principal-title h1 {
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    text-transform: uppercase;
}

.principal-title .title {
    color: #2E9AFE;
}

.principal-title strong {
    color: #DF0101;
}

.nav-principal {
    height: 70px;
    color: white;
    background-color: #1c2831;
    display: flex;
    align-items: center;
}

.nav-principal ul {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0px;
}

.nav-principal a {
    padding: 0 20px;
    margin: 0 30px;
}

.items-menu {
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


/*Informacion personal*/

.personal-information {
    color: white;
    flex-shrink: 0;
    background-color: #232E3A;
    width: 1439px;
    height: 300px;
    box-sizing: border-box;
}

.personalI-title {
    text-align: center;
    width: 400px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
    border-bottom: 1px solid white;
}


/*SOCIAL DISPLAY*/

.socialV {
    flex-shrink: 0;
    background-color: #141e25;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    /*cambiarlos*/
    height: 1000px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-linkV {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 10px 0;
}

.social-link.facebook {
    background-image: url('../Svg-Images/facebook.svg');
}

.social-link.instagram {
    background-image: url('../Svg-Images/instagram.svg');
}

.social-link.github {
    background-image: url('../Svg-Images/github.svg');
}

.social-link.youtube {
    background-image: url('../Svg-Images/twitter.svg');
}

.social-linkV.facebook {
    margin-top: 100px;
    background-image: url('../Svg-Images/facebook.svg');
}

.social-linkV.instagram {
    background-image: url('../Svg-Images/instagram.svg');
}

.social-linkV.github {
    background-image: url('../Svg-Images/github.svg');
}

.social-linkV.youtube {
    background-image: url('../Svg-Images/twitter.svg');
}

.socialH {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #141e25;
    height: 80px;
}


/*Portafolio*/

.portfolio {
    width: 1439px;
    border: 1px solid green;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-portfolio {
    flex-shrink: 0;
    border-bottom: 2px solid gray;
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
    text-transform: uppercase;
}


/*Modificarlas apenas ponga el contenido de estos articulos*/

.objective {
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    border: 1px solid blue;
    margin: 10px 100px;
}

.Cursos {
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    border: 1px solid blue;
    margin: 10px 100px;
}

.Web_development {
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    border: 1px solid blue;
    margin: 10px 100px;
}

.js {
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    border: 1px solid blue;
    margin: 10px 100px;
}

.schoolEnglish {
    flex-shrink: 0;
    height: 250px;
    width: 750px;
    border: 1px solid blue;
    margin: 10px;
}

.title-contact {
    border-bottom: 2px solid gray;
    width: 200px;
    text-align: center;
    font-size: 30px;
    /*con esto fue que movi todo al centro*/
    margin: 20px auto;
    text-transform: uppercase;
}

.contact {
    width: 1439px;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
}

.contact-form {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-input {
    margin: 10px 0;
    flex-shrink: 0;
}

.contact-title {
    margin: 10px 0;
    flex-shrink: 0;
}

.contact-button {
    margin: 10px 0;
    flex-shrink: 0;
}


/*Modificarlas apenas ponga el contenido de estos articulos*/

.aRedirect {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 15px;
    background: #00439d;
    text-decoration: none;
    color: white;
}

.contact {
    border: 1px solid black;
}

.contact-input {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

.contact-input:focus {
    border-bottom-color: blue;
}